################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/test_11_6/.vs/test_11_6/v17/Browse.VC.opendb
/test_1111/.vs/test_1111/v17/Browse.VC.opendb
